name: Deploy to Railway
on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Railway Deploy
        uses: railwayapp/railway-action@v3
        with:
          railwayToken: ${{ secrets.RAILWAY_TOKEN }}
          projectId: ${{ secrets.RAILWAY_PROJECT_ID }}
          serviceId: ${{ secrets.RAILWAY_SERVICE_ID }}
          environmentId: ${{ secrets.RAILWAY_ENV_ID }}
          detach: true

